---
layout: default
---
<!-- <div class="hero-post">
<img src="/images/{{ page.img }}">
</div> -->
<section class="hero">
  <div class="center">
    <h1>{{ page.title }}</h1>
    <p>{{ page.excerpt }}</p>
    <p class="text-small">
      {{ page.date | date: "%B %e, %Y" }} &#183;
      {% capture words %}
{{ content | number_of_words | minus: 180 }}
{% endcapture %}
{% unless words contains '-' %}
<i style="padding-right: 8px;"></i>{{ words | plus: 180 | divided_by: 180 | append: ' minute read' }}
{% endunless %}
    </p>
  </div>
</section>

<article class="post">
  <div class="block">
    <div class="content-group">
    <div class="entry">
        {{ content }}
    </div>
    <div class="block">
      <p>Want to continue the conversation? Let’s talk, now on Mastodon <a href="https://mstdn.social/@ardilamorin" target="_blank" rel="noopener noreferrer">@ardilamorin@mstdn.social</a>.
      </p>
      <p>If you like the article give Kudos here </p>
      <button class="tinylytics_kudos"></button>
    </div>
        

    <div class="block">
      <h4>Continue reading</h4>
    </div>
    <div class="block">
      {% if page.previous.url %}
      <div class="card">
        <a href="{{ site.baseurl }}{{page.previous.url}}">
        <p class="text-small">{{ page.previous.date | date: "%-d.%-m.%y" }}</p>
        <h3>{{page.previous.title}}</h3>
        <p>{{page.previous.excerpt }}</p>
        </a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="card">
        <a href="{{ site.baseurl }}{{page.next.url}}">
        <p class="text-small">{{ page.next.date | date: "%-d.%-m.%y" }}</p>
        <h3>{{page.next.title}}</h3>
        <p>{{page.next.excerpt }}</p>
        </a>
      </div>
      {% endif %}
    </div>


    <!-- <div class="PageNavigation">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}"><span class="cta-arrow">&larr;</span> {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} <span class="cta-arrow">&rarr;</span></a>
      {% endif %}
    </div> -->

  </div>
</div>
</article>
